<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ project}}</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/all.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
        <link rel="icon" type="image/jpeg" href="{{url_for('static',filename='main_images/real4.png')}}">
    </head>
<body >
<style>
img{
    display:none;
}
</style>
<div class="loader" id="loading"></div>
<div class="wrapper" id="wrapper">
    <section class="form signup">
        <header>{{ project}}
    </header>
        <form action="./{{ project }}" enctype="multipart/form-data" autocomplete="off" method="post">
            <div class="error-txt" id="error-txt"><p>{{ result }}</p></div>
            <input type="hidden" name="valuecheck" value="r3DF3i2IOD31nJ32jE4Ke43FD32F2j0Oe3ws3">
            <div class="name-details">
                <div class="field input">
                    <input type="text" name="fname" required>
                    <span>First Name</span>
                </div>
                <div class="field input">
                    <input type="text" name="lname" required>
                    <span>Last Name</span>
                </div>
                </div>
                <div class="field input">
                    <input type="email" name="email"  required>
                    <span>Email</span>
                </div>
                <div class="field input">
                    <div class="pas">
                    <input type="password" name="password" required id="password">
                    <span>Password</span>
                    <i class="fa-solid fa-eye" id="eye" onclick="show()"></i>
                    <i class="fa-solid fa-eye-slash" id="eye-close" onclick="notshow()"></i>
                </div>
                </div>
                <div class="field image">
                    <label>Select image</label>
                    <div class="container-btn-file">
                        <svg 
                        xmlns="http://www.w3.org/2000/svg" 
                        fill="blueviolet" 
                        viewBox="0 0 24 24" 
                        width="20" 
                        height="20">
                        <path 
                            d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                        </svg>

                        Upload Profile Pic
                        <input class="file" name="text" type="file" accept="image*"/>
                      </div>
                      
                </div>
                <div class="field button">
                    <button class="btn">Continue to Chat</button>
                </div>
        </form>
        <div class="link"><form action="/login" method="post">Already signed up?&nbsp;&nbsp;<input type="submit" value="Login now"></form></div>
    </section>
</div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/data.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/load.js') }}"></script>
</html>
