<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ project}}</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/all.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
        <link rel="icon" type="image/jpeg" href="{{url_for('static',filename='main_images/real4.png')}}">
    </head>
<body>
<style>
img{
    display:none;
}
</style>
<div class="loader" id="loading"></div>
<div class="wrapper" id="wrapper">
    <section class="form login">
    <header>{{ project}}</header>
        <form action="./{{ project }}"  enctype="multipart/form-data" autocomplete="off" method="post">
            <div class="error-txt" id="error-txt"><p>{{ result }}</p></div>
            <input type="hidden" name="valuecheck" value="1DfE2D4GE2de342Ge3GVE340vioODS31F">
            <div class="name-details">
                <div class="field input">
                    <input type="text" name="fname" required>
                    <span>First Name</span>
                </div>
                <div class="field input">
                    <input type="text" name="lname" required>
                    <span>Last Name</span>
                </div>
                </div>
                <div class="field input">
                    <input type="email" name="email"  required>
                    <span>Email</span>
                </div>
                <div class="field input">
                    <div class="pas">
                        <input type="password" name="password" required id="password">
                        <span>Password</span>
                        <i class="fa-solid fa-eye" id="eye" onclick="show()"></i>
                        <i class="fa-solid fa-eye-slash" id="eye-close" onclick="notshow()"></i>
                    </div>
                </div>
                <div class="field button">
                    <button class="btn">Continue to Chat</button>
                </div>
        </form>
        <div class="link"><form action="/signin" method="post">Not yet signed up?&nbsp;&nbsp;<input type="submit" value="Signup now"></form></div>
    </section>
</div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/load.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/data.js') }}"></script>
</html>
